*::before,
*::after,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  width: 100%;
  height: 100%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

#header{
  background:#1a1a1a;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 8px;
  padding:12px 16px;
}

#header .logos .logo-desktop{display: none;}

#header .logos .logo-mobile{
  width: 32px;
  height: 32px;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  flex: 1;
  min-width: 180px;
  max-width: 480px;
  position: relative;
}

.search-bar .search-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
}

.search-bar input{
  border: 1px solid #616161;
  color: #B5B5B5;
  background:#303030;
  padding: 8px 8px 8px 35px;
  background: transparent; 
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.search-bar input:hover{
  border: 1px solid #E1E1E1;

}

.search-bar input:active,
.search-bar input:focus{
  border: 2px solid #FFFFFF;
}


.search-bar input::placeholder{
  color: #B5B5B5;
  font-size: 13px;
  line-height: 18.2px;
  font-weight: 500;
 }

#header .profile-notify{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

#header .profile-notify .notification-button{
  width: 32px;
  height: 32px;
  border: none;
  padding: 6px;
  border-radius: 9px;
  background: none;
}

#header .profile-notify .notification-bell{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#header .profile-notify .profile{
  background: none;
  border: none;
}

#header .profile-notify .profile .profile-name{display: none;}

#header .profile-notify .profile .profile-abbr-div,
.dropdown-top .dropdown-head .drop-profile .drop-abbr{
  display: grid;
  place-items: center;
  color: #0000005b;
  background:#36FBA1;
  border: none;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 500;
  height: 28px;
  width: 28px;
}


.notification-active{
  display: block;
}

.profile-active{
  display: block;
}

.container{
 width: 100%;
 padding: 30px 0;
 display: flex;
 flex-direction: column;
 gap:16px;
}

.shopify-plans{
  background: #1A1A1A;
  padding: 12px 8px 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  gap: 16px;
}

.shopify-plans .plans-text{
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 16px;
}

.shopify-plans .plans-text p{
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  color: #E3E3E3;
}

.shopify-plans .plans-text .plan-close-icon{
  width: 36px;
  height: 36px;
  border: none;
  padding: 8px;
  border-radius: 10px;
  background: none;
  gap: 8px;
}

.shopify-plans .plans-text .plan-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.shopify-plans .plans-button {
  border: 1px solid #00000023;  /*10%*/
  border-radius:6px;
  padding: 6px 12px;
  background:#FFFFFF;
  box-shadow: 0px -1px 0px 0px #B5B5B5;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
}

.shopify-plans .plans-button > a{
  color:#323232;      /*10%*/
}

.shopify-dashboard{
  background:#FFFFFF;
  border: 1px solid #DBDBDB;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: 0px 1px 0px 0px 5%;

}

.shopify-dashboard .main-accordion{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  gap: 16px;
}

.main-accordion .main-accordion-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.main-accordion-text h3{
  font-size: 14px;
  font-weight: 600;
  color:#303030;
  line-height: 19.6px;
}

.main-accordion-text p{
  font-size: 13px;
  font-weight: 400;
  color:#303030;
  line-height: 18.2px;
}

.accordion-progress-bar p{
  font-size: 12px;
  font-weight: 400;
  color:#303030;
  line-height: 15.6px;
}

.main-accordion-content button{
  border: none;
  background: none;
}

.main-accordion-content button .close{display: none;}

.accordion-progress-bar{
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
}

.progress-bar1{
  height: 4px;
  width: 72px;
  border-radius: 28px;
  background: #E3E3E3;
  overflow: hidden;
}

.progress-bar2{
  width: 0%;
  height: 4px;
  border-radius: 28px;
  background-color: #1A1A1A;
}

.accordion-step{
width: 100%;
display: flex;
flex-direction: column;
gap: 8px;
}

.accordion-step .shopify-accordion{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px 8px 12px 8px;
 gap: 8px;
 text-align: left;
 width: 100%;
}

.accordion-step .shopify-accordion .shopify-accordion1{
  display: flex;
  flex-direction: column;
  padding: 2px 0px;
  gap: 16px;
  width: 100%;
}

.shopify-accordion1 .shopify-accordion-head{
  display: flex;
  gap: 8px;
  width: 100%;
}
.tick {
  background: none;
  border: none;
}

.shopify-accordion-head .tick svg{
  width: 20px;
  height: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}
.loader{
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader-hover-state {
  display: none;
}
.loader {
  display: none;
}

.loaded {
  display: none;
}


.shopify-accordion-head h3{
  font-weight: 600;
  font-size: 13px;
  color:#303030;
  line-height: 18.2px;
}

.shopify-accordion1 .acc-drop-panel{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 28px;
}

.shopify-accordion-open .acc-drop-panel{
  display: flex;
}

.shopify-accordion .shopify-accordion-img{
  display: none;
}
.shopify-accordion-open .shopify-accordion-img {
  display: block;
}

.shopify-accordion1 .acc-drop-panel p{
  font-weight: 500;
  font-size: 14px;
  color:#616161;
  line-height: 19.6px; 
}

.acc-drop-panel p > a{
  font-weight: 500;
  font-size: 13px;
  line-height: 18.2px;
  color: #005BD3;
  cursor: pointer;
}

.acc-drop-panel .accordion-btn{
   color:#F6F3F6;
   font-weight: 600;
   font-size: 12px;
   padding: 6px 12px;
   border: 1.5px solid #FFFFFF33;  
   border-width: 1.5px, 1.5px, 0px, 1.5px;
   border-radius:6px;
   background:#404040;
   box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
   0px 2px 0px 0px #000;
   margin-top: 16px;
}

.acc-drop-panel .accordion-btn:hover{
  background: #2A2A2A;
  border: 1.5px solid #FFFFFF33;  
  border-width: 1.5px, 1.5px, 0px, 1.5px;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
   0px 2px 0px 0px #000;
}

.acc-drop-panel .accordion-btn:active{
  background: #2B2B2B;
  box-shadow: 0px 0px 0px 1.5px #333333,
  0px 3px 0px 0px #000000 inset;

}

.acc-drop-panel .accordion-btn:focus{
  background: #404040;
  box-shadow: 0px 0px 0px 5px #005BD3,
   0px 0px 0px 3px #FFFFFF,
   0px 0px 0px 1.5px #333333;
}

.acc-drop-panel .accordion-btn2{
font-weight: 600;
font-size: 12px;
line-height: 15.6px;
color: #323232;
border-radius: 6px;
border: 1px solid #0000001A;
padding: 6px 12px;
background: #FFFFFF;
box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
}

.acc-drop-panel .accordion-btn2:hover{
background: #F7F7F7;
color: #323232;
}

.acc-drop-panel .accordion-btn2:active{
  background: #F7F7F7;
  box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}

.acc-drop-panel .accordion-btn2:focus{
  background: #FFFFFF;
  border: 1px solid #0000001A;
  box-shadow: 0px 0px 0px 3px #005BD3,
  0px 0px 0px 1px #FFFFFF,
  0px -1px 0px 0px #B5B5B5 inset;

}


.dropdown1{
  position: relative;
  display: inline-block;
}

.profile-notify .notification-dropdown{
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 14px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  right: -10px;
  top: 50px;
  width: 358px;
  box-shadow: 0px 4px 8px 0px #0000000D;
}

.profile-notify .notification-dropdown-show {
  display: flex;
}

.notification-dropdown .alert-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.notification-dropdown .alert-icons p{
  font-weight: 600;
  font-size: 16px;
  color: #303030;
}

.notification-dropdown .alert-icons .a-icons{
  display: flex;
  gap: 16px;
  color: #616161;
}

.notification-dropdown .alert-icons .a-icons svg{
  width: 20px;
  height: 20px;
}

.notification-dropdown .alert-text{
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
text-align: center;
background: #F1F1F1;
padding: 16px;
font-weight: 600;
font-size: 13px;
color: #616161;
}

.dropdown2{
  position: relative;
  display: inline-block;
}

.profile-notify .profile-dropdown{
  width:320px;
  border-radius: 14px;
  border: 1px solid #DBDBDB;
  background: #FFFFFF;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 52px;
  box-shadow: 0px 4px 8px 0px #0000000D; 
  display: none;
}
.profile-notify .profile-dropdown-show {
  display: block;
}

.profile-dropdown .dropdown-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 0px;
  border-bottom: 0.75px solid #E1E1E1;
}

.profile-dropdown .dropdown-top .dropdown-head{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.profile-dropdown .dropdown-top .dropdown-head{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 8px;
  border-radius: 8px;
  padding:4px 12px 4px 8px;
  background: #F1F1F1; 
  cursor: pointer;
  width: 100%;
}

.dropdown-top .dropdown-head .drop-profile{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content:space-between;
  border: none;
  gap: 8px;
}

.dropdown-top .dropdown-head .drop-profile .drop-name{
  color: #303030;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.2px;
  border-radius: 7px;
  display: block;
} 

.dropdown-top .dropdown-head .drop-icon{
  width: 16px;
  height: 16px;
}

.dropdown-top .drop-stores{
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 6px;
}

.drop-stores svg{
width: 20px;
height: 20px;
}

.drop-stores p{
  color: #303030;
  font-size: 13px;
  font-weight: 400;
}

.dropdown-mid{  border-bottom: 0.75px solid #E1E1E1;}

.dropdown-mid,
.dropdown-bottom{
  padding: 0px 6px;
  width: 100%;
  padding: 6px 0px;

}

.dropdown-mid li,
.dropdown-bottom li{
  width: 100%;
}

.dropdown-mid li a,
.dropdown-bottom li a{
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
  display: inline-block;
  color:#303030;
  padding: 6px;

}

.profile-dropdown .dropdown-mid-list{
  padding: 10px;
}

.profile-dropdown .dropdown-mid-list p{
  font-size: 13px;
  font-weight: 500;
  color:#303030;
}

.profile-dropdown .dropdown-mid-list a{
  font-size: 12px;
  font-weight: 400;
  color:#616161;
}

.profile-dropdown li:hover{
  border-radius: 8px;
  background:#F1F1F1;
  padding: 6px;
}

.profile-dropdown li:active{
  border-radius: 8px;
  background:#F0F0F0;
  padding: 6px;
}

.profile-dropdown li:focus{
  border-radius: 8px;
  border: 2px solid #005BD3;
  background: #005BD3;
  padding: 6px;
}

@media screen and (min-width:1024px) {

  .container{
    display: flex;
    align-items: center;
    justify-content:center;
  }

  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

  }

  #header .logos .logo-desktop{display: block;}

  #header .logos .logo-mobile{display: none;}

  #header .profile-notify .notification-button{ background:#303030; }

  #header .profile-notify .notification-button:hover{ background:#616161; }

  #header .profile-notify .notification-button:active{ background:#656266; }

  #header .profile-notify .notification-button:focus{
     background:#656266;
     outline: 2px solid #005BD3;
   }

  #header .profile-notify .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#303030;
    border-radius: 8px;
    border: none;
    padding: 2px 2px 2px 8px;
    gap: 8px;
    cursor: pointer;
  }
  
  #header .profile-notify .profile:hover{ background:#616161; }

  #header .profile-notify .profile:active{ background:#656266; }

  #header .profile-notify .profile:focus{
    background:#656266;
    outline: 2px solid #005BD3;
  }


  #header .profile-notify .profile .profile-name{
    color: #E3E3E3;
    font-size: 12px;
    font-weight: 500;
    border-radius: 7px;
    display: block;
  }
  
  .shopify-plans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px;
    width: 800px;
    position: relative;
  }
  
  .shopify-plans .plans-text{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }
  
  .shopify-plans .plans-button{
    position: absolute;
    right: 50px;
  }

  .shopify-dashboard{
    width: 800px;
    border-radius: 18px;
  }

  .main-accordion{
    width: 100%;
    padding: 8px;

  }

  .main-accordion .main-accordion-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
}